<!--
 *  pagination.hbs
 *   
 *  Controls the look of the pagination at the bottom of index.hbs.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
-->

<div class="pagination_container">
    
    <div class="pagination_container-column pager">
        <a href="{{page_url prev}}" class="{{^prev}}disabled{{/prev}}">
            <span><span class="arrow" >&#171;</span> Newer</span>
        </a>
    </div>

    <div class="pagination_container-column">
        <span>{{page}} of {{pages}}</span>
    </div>

    <div class="pagination_container-column pager">
        <a href="{{page_url next}}" class="{{^next}}disabled{{/next}}">
            <span>Older <span class="arrow">&#187;</span></span>
        </a>
    </div>
    
</div>