{{!< default}}
              
<header class="main-header" role="banner">
    <div class="header_container">
        <div class="header_container-title">
            {{@blog.title}}
        </div>
        <div class="header_container-description">
            {{@blog.description}}
        </div>
    </div>
</header>