<!--
 *  index.hbs
 *   
 *  The homepage for the Doppelganger blog.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
-->

{{!< default}}
              
<header class="main-header" role="banner">
    <div class="header_container">
        <div class="divider"></div>
        
        <div class="header_container-title">
            {{@blog.title}}
        </div>
        <div class="header_container-description">
            {{@blog.description}}
        </div>
        
        <div class="divider"></div>
    </div>
</header>

