/* 
 *  _footer.scss
 *
 *  A SASS partial for the footer that is rendered at the bottom of each page.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.pagination_container {
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Arvo', serif;
    font-size: 14pt;
    color: $gray-color;
    
    .pagination_container-column {
        display: inline-block;
        padding: 0 20px;
        
        &.pager {
            color: $default-color;
            font-style: italic;
        }
        
        &:not(:last-child) {
            border-right: 1px solid $gray-color;
        }
    }
}