/* 
 *  _index.scss
 *
 *  A SASS partial for the index.hbs pages that Ghost renders.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.header_container {
    text-align: center;
    padding: 15vh 0;
    background-color: $default-color;
    
    .header_container-title {
        font-family: 'Oswald', sans-serif;
        font-size: 54pt;
        color: $white-color;
    }
    
    .header_container-description {
        font-family: 'Arvo', serif;
        font-size: 16pt;
        margin-top: 15px;
        color: $gray-color;
    }
    
    .header_container-social {
        
        margin: 30px 0;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
 
            li {
                display: inline-block;
                padding: 0 25px;
                
                &:not(:last-child) {
                    border-right: 1px solid $white-color;
                }
            }
        }
    }
    
    .divider {
        width: 50%;
        height: 1px;
        min-height: 1px;
        border-bottom: 1px solid $white-color;
        margin: 50px auto;
    }
}

.post_preview-container {
    
    .post_preview-title {
        font-family: 'Oswald', sans-serif;
        font-size: 32pt;
        text-align: center;
        margin-top: 50px;
    }
    
    .post_preview-excerpt {
        font-family: 'Droid Serif', serif;
        font-size: 14pt;
        line-height: 16pt;
        width: 70%;
        margin: 15px auto;
        color: $dark-gray-color;
    }
    
    .post_preview-dot {
        width: 5px;
	    height: 5px;
	    border-radius: 50%;
        margin: 15px auto;
        background-color: $default-color;
    }
    
    .post_preview-stats {
        font-family: 'Arvo', serif;
        font-size: 14pt;
        margin: 20px auto;
        text-align: center;
        
        .post_preview-date {
            color: $gray-color;
            border-right: 1px solid $gray-color;
            padding-right: 20px;
            display: inline-block;
        }
        
        .post_preview-link {
            color: $default-color;
            font-style: italic;
            text-decoration: none;
            padding-left: 20px;
            display: inline-block;
        }
    
        .post_preview-link:hover {
            color: $blue-color;
        }
    }
    
    .divider {
        width: 50%;
        height: 1px;
    
        min-height: 1px;
        border-bottom: 1px solid $gray-color;
        margin: 50px auto;
    }
    
}