/* 
 *  _index.scss
 *
 *  A SASS partial for the index.hbs pages that Ghost renders.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.header_container {
    text-align: center;
    padding: 15vh 0;
    background-color: $default-color;
    
    .header_container-title {
        font-family: 'Oswald', sans-serif;
        font-size: 54pt;
        color: $white-color;
    }
    
    .header_container-description {
        font-family: 'Arvo', serif;
        font-style: italic;
        font-size: 16pt;
        margin-top: 5px;
        color: $gray-color;
    }
    
    .divider {
        width: 50%;
        height: 1px;
    
        min-height: 1px;
        border-bottom: 1px solid $white-color;
        margin: 50px auto;
    }
}