/* 
 *  _pagination.scss
 *
 *  A SASS partial for pagination.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.pagination_container {
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 14pt;
    line-height: 16pt;
    color: $gray-color;
    
    @media (max-width: $max-portrait-width) {
        font-size: 10pt;
        line-height: 12pt
    }
    @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
        font-size: 12pt;
        line-height: 14pt
    }
    
    .pagination_container-column {
        display: inline-block;
        padding: 0 20px;
        
        @media (max-width: $max-portrait-width) {
            padding: 0 10px;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            padding: 0 15px;
        }
        
        &.pager {     
            a {
                color: $default-color;
                font-style: italic;
                text-decoration: none;
                
                &.disabled {
                    pointer-events: none;
                    color: $light-gray-color;
                }
            }
            
            a:hover {
                color: $blue-color;
            }
            
            .arrow {
                font-style:normal;
                font-size: 18pt;
            }
        }
        
        &:not(:last-child) {
            border-right: 1px solid $gray-color;
        }
    }
}