/* 
 *  _post.scss
 *
 *  Styles posts in Doppelganger.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.post_title-container {
    height: 20vh;
    position: relative;
    background-color: $default-color;
    
    .post_title-container-content {
        position: absolute;
        width: 100%;
        bottom: 0px;
        margin-bottom: -3px;
        color: $white-color;
        
        .title {
            font-family: 'Oswald', sans-serif;
            font-size: 48pt;
            display: inline-block;
            margin-left: 5%;
            width: 70%;
            position: relative;
        }
        
        .date {
            font-family: 'Arvo', serif;
            font-size: 14pt;
            width: 24%;
            display: inline-block;
            position: relative;
        }
    }
    
    
}