/* 
 *  _post.scss
 *
 *  Styles posts in Doppelganger.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
 */

.post_title-container {
    text-align: center;
    padding: 5vh 0;
    background-color: $default-color;
    
    @media (max-width: $max-portrait-width) {
        padding: 3vh 0;
    }
    @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
        padding: 1vh;
    }
    
    .title {
        font-family: 'Oswald', sans-serif;
        font-size: 48pt;
        line-height: 51pt;
        color: $white-color;
        
        @media (max-width: $max-portrait-width) {
            font-size: 24pt;
            line-height: 27pt;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 32pt;
            line-height: 35pt;
        }
    }
    
    .post_title-stats {
        font-family: 'Arvo', serif;
        font-size: 14pt;
        margin: 10px auto;
        text-align: center;
        
        @media (max-width: $max-portrait-width) {
            font-size: 10pt;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 12pt;
        }
        
        time {
            color: $gray-color;
            border-right: 1px solid $white-color;
            padding-right: 20px;
            display: inline-block;
            
            @media (max-width: $max-portrait-width) {
                width: 100%;
                padding-right: 0;
                border-right: 0px;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                padding-right: 10px;
            }
        }
        
        a {
            color: $white-color;
            font-style: italic;
            text-decoration: none;
            padding-left: 20px;
            display: inline-block;
            
            @media (max-width: $max-portrait-width) {
                width: 100%;
                padding-left: 0;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                padding-left: 10px;
            }
        }
    
        a:hover {
            color: $blue-color;
        }
    }
    
    .divider {
        width: 50%;
        height: 1px;
        min-height: 1px;
        border-bottom: 1px solid $white-color;
        margin: 50px auto;
        
        @media (max-width: $max-portrait-width) {
            width: 80%;
            margin: 30px auto;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            width: 80%;
            margin: 30px auto;
        }
    }
}

.post_content {
    width: 75%;
    margin: 0 auto;
    font-family: 'Droid Serif', serif;
    font-size: 14pt;
    color: $dark-gray-color;
    
    @media (max-width: $max-portrait-width) {
        width: 85%;
        font-size: 10pt;
    }
    @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
        width: 80%;
        font-size: 12pt;
    }
    
    .divider {
        width: 50%;
        height: 1px;
        min-height: 1px;
        border-bottom: 1px solid $gray-color;
        margin: 50px auto;
        
        @media (max-width: $max-portrait-width) {
            width: 80%;
            margin: 30px auto;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            width: 80%;
            margin: 30px auto;
        }
    }
    
    .dot {
        width: 5px;
	    height: 5px;
	    border-radius: 50%;
        margin: 35px auto;
        background-color: $default-color;
        
        @media (max-width: $max-portrait-width) {
            margin: 20px auto;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            margin: 25px auto;
        }
    }
    
    p {
        margin: 25px 0;
        line-height: 16pt;
        
        @media (max-width: $max-portrait-width) {
            margin: 15px 0;
            line-height: 12pt
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            margin: 20px 0;
            line-height: 14pt
        }
    }
    
    blockquote {
        margin: 35px; 
        margin-left: 50px;
        font-size: 18pt;
        font-style: italic;
        color: $gray-color;
        
        @media (max-width: $max-portrait-width) {
            margin: 15px; 
            margin-left: 15px;
            font-size: 12pt;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            margin: 20px; 
            margin-left: 25px;
            font-size: 16pt;
        }
        
        p {
            line-height: 23pt;
            
            @media (max-width: $max-portrait-width) {
                line-height: 14pt;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                line-height: 18pt;
            }
        }
    }
    
    code {
        font-family: 'Inconsolata', monospace;
    }
    
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 48pt;
        line-height: 51pt;
        margin: 35px 0;
        color: $default-color;
        
        @media (max-width: $max-portrait-width) {
            font-size: 24pt;
            line-height: 27pt;
            margin: 20px 0;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 32pt;
            line-height: 35pt;
            margin: 35px 0;
        }
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 36pt;
        line-height: 39pt;
        margin: 35px 0;
        color: $default-color;
        
        @media (max-width: $max-portrait-width) {
            font-size: 21pt;
            line-height: 23pt;
            margin: 20px 0;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 28pt;
            line-height: 31pt;
            margin: 25px 0;
        }
    }
    h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 28pt;
        line-height: 31pt;
        margin: 25px 0;
        color: $default-color;
        
        @media (max-width: $max-portrait-width) {
            font-size: 16pt;
            line-height: 18pt;
            margin: 10px 0;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 21pt;
            line-height: 23pt;
            margin: 15px 0;
        }
    }
    
    a {
        color: $default-color;
        text-decoration: none;
        font-style: italic;
        color: $gray-color;
    }
    
    a:hover {
        color: $blue-color;
    }
    
    img {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        max-width: 100%;
        
        @media (max-width: $max-portrait-width) {
            border-radius: 10px;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            border-radius: 15px;
        }
    }
}

.post_close {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    
    .post_close-salute {
        font-family: 'Oswald', sans-serif;
        color: $gray-color;
        font-size: 36pt;
        
        @media (max-width: $max-portrait-width) {
            font-size: 21pt;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 28pt;
        }
    
        .post_close-salute-name {
            color: $default-color;
        }
    }
    
    .post_close-stats {
        font-family: 'Arvo', serif;
        font-size: 14pt;
        color: $gray-color;
        margin-top: 13px;
        
        @media (max-width: $max-portrait-width) {
            font-size: 10pt;
            margin-top: 0;
        }
        @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
            font-size: 12pt;
        }

        div, time {
            border-right: 1px solid $gray-color;
            padding-right: 20px;
            display: inline-block;
            
            @media (max-width: $max-portrait-width) {
                border-right: 0px;
                width: 100%;
                padding-right: 0;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                padding-right: 10px;
            }
            
            &.responsive {
                @media (max-width: $max-portrait-width) {
                    visibility: hidden;
                    height: 0;
                }
            }
        }
        time {
            padding-left: 20px;
            
            @media (max-width: $max-portrait-width) {
                border-right: 0px;
                width: 100%;
                padding-left: 0;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                padding-left: 10px;
            }
        }
        
        a {
            color: $default-color;
            font-style: italic;
            text-decoration: none;
            padding-left: 20px;
            display: inline-block;
            
            @media (max-width: $max-portrait-width) {
                width: 100%;
                padding-left: 0;
            }
            @media (min-width: $max-portrait-width)and(max-width: $max-landscape-width) {
                padding-left: 10px;
            }
        }
    
        a:hover {
            color: $blue-color;
        }
    }
}